<head>
	<link rel="stylesheet" href="/styles/styles.css">
</head>
<h1>Inventory Dashboard</h1>
<ul>
	<li><a href="/products">Products</a></li>
	<li><a href="/suppliers">Suppliers</a></li>
	<li><a href="/restocks">Restocks</a></li>
	<li><a href="/sales">Sales</a></li>
</ul>
<button type="button" onclick="window.location.href='/add'">
	Add New Item
</button>
